a:link {text-decoration: none}
a:visited {text-decoration: none}
a:hover {text-decoration: none}
a:active {text-decoration: none}

.link
{
	font-size: large;
}

.noMargin
{
	margin: 0%;
	outline: 0%;
}
.main
{

	width: 100%;
	height: 100%;
	background-color: white;
	padding: 0%;
}


.tittel
{
    position: absolute; left: 44%;
	
	display: flex;
	
}
.nav{
	display: flex;
	justify-content:space-between;
	gap: 50px;
	text-align: center;
	background-color:  whitesmoke;
	border: 0px solid;
	height: 10%;
	padding: 1%;
}




.grid-container
{
	text-align: center;	
	padding: 1%;
}
.BookingPage
{
position: absolute;
top: 15%;
left: 40%;	
width: 20%;
}
.CaféMenu
{
position: absolute;
top: 38%;
left: 40%;	
width: 20%;
		
}
.Access
{	
position: absolute;
top: 61%;
left: 40%;	
width: 20%;
	
}
.TopicalPage
{
position: absolute;
top: 84%;
left: 40%;	
width: 20%;

}









@media only screen and (max-width: 800px) {
	body {
	
	  background-color: lightblue;

	}
	.nav{
		gap: 20px;
	}

	.CafeMenuHeadline {
		top:60%;
	}
	
  }




